<!DOCTYPE html>
<html>
    <head>
        <title>My Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Bootstrap\css\bootstrap.min.css" type="text/css">
        <script type="text/javascript" src="Bootstrap\js\jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="Bootstrap\js\bootstrap.min.js"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="../Images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../Images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../Images/favicon-16x16.png">
<link rel="manifest" href="../Images/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="Lobster-Regular.ttf">

        <link rel="stylesheet" href="../css/profile.css">
    
    </head>

    <body>

        <div class="container">
            <div class="jumbotron">
                <div class="account-page">
                    <div class="profile">
                        <div class="profile-detail">
                            <img src="../Images/MyPic.png">
                            <h2 style="font-family: 'Lobster', cursive;">Riddhi S</h2>
                            <p style="font-family:Montserrat">riddhis@gmail.com</p>
                        </div>
                        <ul>
                            <li><a href="profile.html" class="active">Account <span>></span></a></li>
                            <li><a href="changepass.html">Change Password <span>></span></a></li>
                            <li><a href="address.html">Address <span>></span></a></li>
                            <li><a href="orders.html">My Orders <span>></span></a></li>
                            <li><a href="deleteacc.html">Delete Account <span>></span></a></li>
                            <li><a href="logout.html">Logout <span>></span></a></li>
                        </ul>
                    </div>
                    <div class="account-detail">
                        <h2 style="font-family: 'Lobster', cursive;">CHANGE PASSWORD</h2>
                        <div class="row row_style">
                            <div class="col-xs-6">
                                <form>  
                                    <input style="font-family:Montserrat" type="password"  class="form-control" name="firstname" placeholder="Old Password">
                                    <input style="font-family:Montserrat" type="password"  class="form-control" name="firstname" placeholder="New Password">
                                    <input style="font-family:Montserrat" type="password"  class="form-control" name="lastname" placeholder="Re-type new Password">
                                    <button style="background-color: #f8a6aa; font-family:Montserrat; font-weight: bold;" class="btn">Submit</button>
                                </form>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
 
            
        
    </body>
</html>