<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Furniture Website</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../Images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../Images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../Images/favicon-16x16.png">
<link rel="manifest" href="../Images/favicon.ico">
    <!-- LInk To CSS -->
    <link rel="stylesheet" href="../css/home.css">
    <!-- Box Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    </head>
<body>
    <!-- Navbar -->
    <header>
        <a href="./home.html" class="logo">Furnious <span>S.</span></a>
        <div class="bx bx-menu" id="menu-icon"></div>
 
        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#shop">Shop</a></li>
            <li><a href="#one">Testimonials</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#brands">Our Partners</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="./profile.html"><i class="uil uil-user-circle" style="font-size: 1.4rem;"></i></a></li>
        </ul>
    </header>
    <!-- Home -->
    <section class="home" id="home">
        <div class="home-text">
            <h1><Span>Make</Span>Your Comfort <br> Is Our <span>Happiness</span></h1>
            <p>Our lives happen around our furniture. <br>Every day, our bed frames, dining tables, <br>dressers, and coffee tables support us,<br> often without thanks and appreciation.<br> So here at <b>Furnious </b>we have beautiful <br>furnitures along with beautiful memories.</p>
            <a class="btn btn-success btn-lg" href="#" role="button">Sign Up</a>
            <a class="btn btn-success btn-lg" href="#" role="button">Login</a>
        </div>
    </section>
    <!-- Shop -->
    <section class="shop" id="shop">
        <div class="heading">
            <span>New Arrival</span>
            <h2>Shop Now</h2>
        </div>
        <!-- Content -->
        <div class="shop-container" >
            <!-- Box 1 -->
            <div class="box">
                <div class="box-img">
                    <a href="./bed.html">
                        <img src="http://media-cache-ak1.pinimg.com/originals/de/6a/12/de6a12a2a4fa2aa67fc918128da56979.jpg" alt="">
                    </a>
                </div>
                <div class="title-price">
                    <h3>Bedroom</h3>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                </div>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <div class="box-img">
                    <a href="./living.html">
                        <img src="https://www.stevewilliamskitchens.co.uk/wp-content/uploads/2016/07/Solid-wood-living-room-furniture-set-for-small-space-elegant-living-space-with-unique-lighting-and-wall-decoration.jpg" alt="">
                    </a>
                </div>
                <div class="title-price">
                    <h3>Living Room</h3>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                </div>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <div class="box-img">
                    <a href="./kids.html">
                        <img src="https://i.pinimg.com/736x/f4/00/04/f40004d673daf6dfb2aad46a003a1ccf--luxury-girls-bedroom-rich-girl-bedroom.jpg" alt="">
                    </a>
                </div>
                <div class="title-price">
                    <h3>Kids Room</h3>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                </div>
            </div>
            <!-- Box 4 -->
            <div class="box">
                <div class="box-img">
                    <a href="./dinning.html">
                        <img src="https://i.pinimg.com/originals/7e/13/9f/7e139fa03aeb14a4b67af2ac5dd79d8e.jpg" alt="">
                    </a>
                </div>
                <div class="title-price">
                    <h3>Dinning Room</h3>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                </div>
            </div>
            <!-- Box 5 -->
            <div class="box">
                <div class="box-img">
                    <a href="./work.html">
                        <img src="https://i.pinimg.com/originals/c8/4a/39/c84a390b671ca1d4a99b8a470b85f2b4.jpg" alt="">
                    </a>
                </div>
                <div class="title-price">
                    <h3>Work Station</h3>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                </div>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <div class="box-img">
                    <a href="./storage.html">
                        <img src="http://img2-3.timeinc.net/toh/i/g/15/interiors/07-color-of-month/02-pantone-bellini.jpg" alt="">
                    </a>
                </div>
                <div class="title-price">
                    <h3>Storage Room</h3>
                    <div class="stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- New Arrival -->
    
    <section class="one" id="one">
        <br><br><br>
         <img src="map-1-1.png" class="map-img" />
         <div class="container">
             <div class="row">
                 <div class="col-lg-6 d-flex">
                     <div class="my-auto">
                          
                         <div id="testimonials-slider-pager">
                             <div class="pager-one">
                                 <a href="#" class="pager-item active" data-slide-index="0"><img src="../Images/Aditi.jpg" /></a>
                                 <a href="#" class="pager-item" data-slide-index="1"><img src="../Images/Apurva.jpg" alt="Awesome Image" /></a>
                                 <a href="#" class="pager-item" data-slide-index="2"><img src="../Images/Ashhh.jpg" alt="Awesome Image" /></a>
                                 <a href="#" class="pager-item" data-slide-index="3"><img src="../Images/Joey.jpg" alt="Awesome Image" /></a>
                                 <a href="#" class="pager-item" data-slide-index="4"><img src="../Images/RiddhiS.jpg" alt="Awesome Image" /></a>
                                 <a href="#" class="pager-item" data-slide-index="5"><img src="../Images/Praju.jpg" alt="Awesome Image" /></a>
                             </div><!-- /.testimonials-slider-pager-one -->
                             <div class="pager-two">
                                 <a href="#" class="pager-item active" data-slide-index="0"><img src="../Images/Aditi.jpg" /></a>
                                 <a href="#" class="pager-item" data-slide-index="1"><img src="../Images/Apurva.jpg" /></a>
                                 <a href="#" class="pager-item" data-slide-index="2"><img src="../Images/Ashhh.jpg" alt="Awesome Image" /></a>
                                 <a href="#" class="pager-item" data-slide-index="3"><img src="../Images/Joey.jpg" alt="Awesome Image" /></a>
                                 <a href="#" class="pager-item" data-slide-index="4"><img src="../Images/RiddhiS.jpg" alt="Awesome Image" /></a>
                                 <a href="#" class="pager-item" data-slide-index="5"><img src="../Images/Praju.jpg" alt="Awesome Image" /></a>
                             </div> 
                         </div> 
                     </div> 
                 </div> 
                 <div class="col-lg-6">
                     <div class="block-title ">                            
                         <h2>Hear what our clients are<br> saying.</h2>
                     </div> 
                     <ul class="slider testimonials-slider">
                         <li class="slide-item">
                             <div class="first">
                                 <p>We have been purchasing furniture from Furnious since the last 10 years. We appreciate their prompt service and so far we have faced no complaints with their furniture.</p>
                                 <br><br><h3>Aditi Yadav</h3>
                             </div> 
                         </li>
                         <li class="slide-item">
                             <div class="first">
                                 <p>The services provided by the officials was smooth and satisfactory. Products and goods delivered were up to satisfaction… and compared to market price.</p>
                                 <h3>Apurva Yadav</h3>
                             </div>
                         </li>
                         <li class="slide-item">
                             <div class="first">
                                 <p>We purchased so many products from Furnious and we would recommend Durian Furniture to everyone who needs quality and decent looking furniture.</p>
                                 <h3>Aishwarya Thorat</h3>
                             </div> 
                         </li>
                         <li class="slide-item">
                             <div class="first">
                                 <p>Sceptical about their doors frames and shutters. However quality of product and installation was satisfactory.</p>
                                 <h3>Jyoti Singh</h3>
                             </div> 
                         </li>
                         <li class="slide-item">
                             <div class="first">
                                 <p>Purchased office chairs 5 years ago. Found them to be aesthetic and durable. Currently still using the same products.</p>
                                 <h3>Prajakta Tawde</h3>
                             </div> 
                         </li>
                         <li class="slide-item">
                             <div class="first">
                                 <p>Purchased a door 20 years ago from Durian. I will recommend everyone to buy furniture from Furnious. Innovation and durability is why I will come back to Durian.</p>
                                 <br><br><h3>Riddhi Shinde</h3>
                             </div> 
                         </li>
                     </ul>
                 </div> 
             </div> 
         </div> 
     </section> 
    
 
 
    <!-- About -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="http://www.thewowdecor.com/wp-content/uploads/2015/10/Unique-and-Aesthetic-Luca-Rattan-Furniture-Design.jpg" alt="">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <h2>Furniture is important part <br>for comfort</h2>
            <p>In actuality, it was like the homes of all people who are not really rich but who want to look rich, and therefore end up looking like one another:</p>
            <p>It had damasks, ebony, plants, carpets, and bronzes, everything dark and gleaming—all the effects a certain class of people produce so as to look like people of a certain class.</p>
            <p>And his place looked so much like the others that it would never have been noticed, though it all seemed quite exceptional to him.</p>
            <a class="btn btn-warning btn-lg" href="#shop" role="button">Learn More.</a>
        </div>
    </section>
    <!-- Brands -->
    <section class="brands" id="brands">
        <div class="heading">
            <span>Brands</span>
            <h2>Our Brands Partners</h2>
        </div>
        <div class="brands-container">
            <img src="https://www.schemecolor.com/wp-content/uploads/google-brand-logo.png" alt="">
            <img src="https://tse1.mm.bing.net/th?id=OIP.TXDb6D_QPCiokywBVQYxNwHaEK&pid=Api&P=0&w=290&h=164" alt="">
            <img src="https://tse2.mm.bing.net/th?id=OIP.NIPLugL-CDuHMwqZhX9Z7QHaEK&pid=Api&P=0&w=262&h=148" alt="">
            <img src="https://tse1.mm.bing.net/th?id=OIP.cd_T827W17rkX4b3XMX0FgHaHa&pid=Api&P=0&w=300&h=300" alt="">
            <img src="https://tse2.mm.bing.net/th?id=OIP._x3qPzkfjI0z33o6EFlw6gHaHa&pid=Api&P=0&w=300&h=300" alt="">
            <img src="https://aflcio.org/sites/default/files/2020-03/Zoom-Pro-Annually-2.jpg" alt="">
        </div>
    </section>
    <section class="newsletter" id="contact">
        <h2>Subscribe To Newsletter</h2>
        <div class="news-box">
            <input type="text" placeholder="Enter Your Email...">
            <a class="btn btn-warning" href="#" role="button">Subscribe</a>

        </div>
    </section>
    <!-- Footer -->
    <section class="footer" id="footer">
        <div class="footer-box">
            <h2>Furnious <span>S.</span></h2>
            <p>Design is a constant challenge to balance comfort with luxe, the practical with the desirable and so here are we to fullfill them for you!</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Services</h3>
            <li><a href="#">Product</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">FAQ</a></li>
        </div>
        <div class="footer-box">
            <h3>Product</h3>
            <li><a href="#">Dining Room</a></li>
            <li><a href="#">Bed Room</a></li>
            <li><a href="#">Living Room</a></li>
            <li><a href="#">Storage Room</a></li>
            <li><a href="#">Work Station</a></li>
            <li><a href="#">Kids Room</a></li>
        </div>
        <div class="footer-box contact-info">
            <h3>Contact</h3>
            <span>Mumbai, India 400093</span>
            <span>+022 2836 4807</span>
            <span>flawlfull@furniousS.com</span>
            
        </div>
    </section>
    <div class="copyright">
        <p>&#169; Furnious All Rights Reserved.</p>
    </div>

    <!-- Link To JS -->
  
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
    <script>
    (function($) { 
    function thmbxSlider() {
        if ($('.testimonials-slider').length) {
            $('.testimonials-slider').bxSlider({
                // adaptiveHeight: true,
                auto: true,
                controls: true,             
                pause: 5000,
                speed: 500,
                pager: true,
                pagerCustom: '.pager-one, .pager-two'
            });
        }
    }
    $(window).on('load', function() {
       
        thmbxSlider();
    });
})(jQuery);
    </script>

</body>
</html>